.comment-content {
  color: var(--grayish-blue)
}

.comment-content > textarea {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 6rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  resize: none;
  width: 100%;
}