.additional {
  background: var(--white);
  border-radius: 0.5rem;
  display: grid;
  margin: 1rem;
  grid-template-areas: "text text"
                       "img  button";
  padding: 1rem;
}

.additional > textarea {
  box-sizing: border-box;
  grid-area: text;
  height: 5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  resize: none;
}

.additional > img {
  height: 2rem;
}

.additional > button {
  grid-area: button;
  height: 2.1rem;
  margin-left: auto;
  margin-right: 0;
}
