.scoring {
  align-items: center;
  background: var(--very-lightgray);
  border-radius: 0.5rem;
  color: var(--moderate-blue);
  display: flex;
  font-weight: 500;
  height: 2rem;
  justify-content: space-between;
  width: 6rem;
}

.scoring > button {
  margin: auto;
  box-sizing: border-box;
  width: 1.1rem;
  height: 1.1rem;
}

.scoring > button[aria-pressed="true"] {
  filter: brightness(0.7) hue-rotate(25deg);
}

.scoring > button:hover {
  filter: brightness(0.5) hue-rotate(25deg);
}

.scoring > button:first-child {
  background: url("../../../images/icon-plus.svg") 50% 50% no-repeat;
}

.scoring > button:last-child {
  background: url("../../../images/icon-minus.svg") 50% 50% no-repeat;
}
