:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayblue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-lightgray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  background: var(--very-lightgray);
  display: grid;
  font-family: 'Rubik', sans-serif;
  grid-template-rows: 1fr 3rem;
  height: 98vh;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 1.5rem;
}

button {
  background-color: inherit;
  border: inherit;
  font-family: inherit;
  font-weight: 700;
}

.comment {
  background: var(--white);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
}

.replying {
  color: var(--moderate-blue);
  font-weight: 500;
}

.replies {
  margin-left: 1rem;
  position: relative;
}

.replies::before {
  border: 1px solid var(--light-gray);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.replies > .comment {
  width: 19rem;
}

.options {
  display: flex;
  justify-content: space-between;
}

.other-button {
  background: var(--moderate-blue);
  border-radius: 0.4rem;
  color: var(--white);
  padding: 0.6rem 0.8rem;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  height: 3rem;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
